<div class="wrapper about-container col-xs-12" id="about-container">
  <div class="main row">
    <div class="col-md-12 standard-margin-left">
      <h1>Angular 2</h1>
      <div class="col-md-6">
        <section>
          <h4>Introduction</h4>
          <p>
            Angular 2 is the next version of Google’s massively popular MV*
            framework for building complex applications in the browser
          </p>
        </section>
        <section>
          <h4>Prerequisites</h4>
          <ul>
            <li>Basic understanding of JavaScript</li>
            <li>HTML, CSS, AJAX, AngularJS etc.</li>
            <li>Typescript</li>
            <li>Basic of ECMA 6 / Javascript 2016</li>
          </ul>
        </section>
        <section>
          <h4>Features</h4>
          <ul>
            <li>Angular 2 is simpler than Angular 1.</li>
            <li>Very few concept which make it easier to understand.</li>
            <li>Memory Efficient</li>
            <li>Component based (No controllers and $scopes)</li>
            <li>Annotations</li>
          </ul>
        </section>
        <section>
          <h4> Based On</h4>
          <ul>
            <li>ES6/TypeScrip.</li>
            <li>Modules Loaders.</li>
            <li>DOM</li>
            <li>Web Components</li>
            <li>Observables</li>
            <li>ZoneJS</li>
            <li>AngularJS 1.x</li>
          </ul>
        </section>
      </div>
      <div class="col-md-3">
        <div class="img-responsive image-url"></div>
      </div>
    </div>
  </div>
</div>
