<div *ngIf="movieValid" class="container-fliud">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-4">
          <div class="preview-pic tab-content">
            <img src="{{movie?.Poster}}" class="img-responsive" alt="Responsive image">
          </div>
        </div>
        <div class="details col-md-8">
          <h3 class="product-title">{{movie?.Title}}</h3>
          <div class="rating col-md-12 no-padding">
            <div class="stars col-md-4 no-padding">
              <h4 class="price">IMDB Rating: </h4>
            </div>
            <div class="stars col-md-4 pull-right">
              <span class="glyphicon glyphicon-star star-icon"></span>
              <span class="glyphicon glyphicon-star star-icon"></span>
              <span class="glyphicon glyphicon-star star-icon"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="review-no">{{movie?.imdbRating}}</span>
              <span class="grey">/</span>
              <span class="grey" itemprop="bestRating">10</span>
            </div>
          </div>
          <p class="product-description">{{movie?.Plot}}</p>
          <h4 class="price">
            <span class="glyphicon glyphicon-user info-icon"></span>Director: <span>{{movie?.Director}}</span>
          </h4>
          <h4 *ngIf="movie?.Awards" class="price">
            <span class="glyphicon glyphicon-king info-icon"></span>Awards: <span>{{movie?.Awards}}</span>
          </h4>
          <h4 *ngIf="movie?.Genre" class="price">
            <span class="glyphicon glyphicon-film info-icon"></span>Genre: <span>{{movie?.Genre}}</span>
          </h4>
          <h4 class="price">
            <span class="glyphicon glyphicon-globe info-icon"></span>Languages: <span>{{movie?.Language}}</span>
          </h4>
          <p class="vote">
            <strong>{{movie?.imdbVotes}}</strong> of voters enjoyed this {{movie.Type}}! <strong>({{movie?.imdbVotes}} votes)</strong>
          </p>
          <div class="action">
            <button class="like btn"
                    (click)="addToFavorites(movie)"
                    type="button">
              <span class="glyphicon glyphicon-heart"></span>
              <span *ngIf="makeFav" class="">Remove from Favorite</span>
              <span *ngIf="!makeFav" class="">Add to Favorite</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="movie?.Error" class="col-xs-12">
          <pre class="alert alert-info bordered-card">
            <h3 class="text-center">{{movie?.Error}}</h3>
          </pre>
  </div>
</div>
