<table class="table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList; let i = index">
      <td>{{emp.name}}</td>
      <td>{{emp.designation}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!empList.length" class="row">
  <div class="col-xs-12">
        <pre class="alert alert-info bordered-card">
    <h3 class="text-center">{{"No empList!!"}}</h3>
  </pre>
  </div>
  <div class="col-xs-9 text-center">
    <div class="col-xs-3 col-xs-offset-6 img-responsive pokemon-image-url"></div>
  </div>
</div>
