.demo-app {
  height: 100%;
  min-height: 100%;
}

.navbar-brand {
  padding: 5px 15px;
}
.angular-image-url {
  content: url('../../assets/images/angular2.png');
  width: 40px;
  height: 40px;
}

.about-container {
  background-color: #47B6E0;
}
.image-url {
  content: url('../../assets/images/r2d2.gif');
}
.navbar{
  margin-bottom: 0px;
}
